<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="box">
        <h1>Todo List</h1>
    </div>
    <div class="box">
       <% ejes.forEach(function(items){%>
        <form action="/delete" method ="POST">
            <div class="item">
                <input type="checkbox" name="checkbox1" value="<%=items._id%>" onchange="this.form.submit()">
                <p><%= items.name %></p>
            </div>
        </form>
        <%}) %>
        <form method="POST" action="/">
            <input type="text" name="ele1" placeholder="Enter the task">
            <button type="submit">+</button>
        </form>
    </div>
</body>
</html>